@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Jost:wght@600;700&display=swap');

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #151624;
    }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  font-family: 'IBM Plex Sans', sans-serif;
 font-family: 'Jost', sans-serif; */
